@{ ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@model  List<Module.BusinessLogic.Dto.view.EmployeeViewDto>
@section scripts {

}
<link href="~/Theme-FrontEnd/assets/css/header.css" rel="stylesheet" />
<div class="header-detail" data-aos="fade-up">
    <span class="title-header-detail animated slideInDown" style="animation-delay: 1s">@Resources.SharedResource.TitleHeader</span>
    <span class="des-header-detail animated fadeInUp" style="animation-delay: 2s">@Resources.SharedResource.DesHeader</span>
</div>
<div class="infomation-company" data-aos="fade-up">
    <div class="title-company">
        @Resources.SharedResource.TitleCompany
    </div>
    <div class="content-company row">
        <div class="des-company">
            <div div class="title-choose">@Resources.SharedResource.Reson </div>
            <div class="des-info-company pt-3">@Resources.SharedResource.Reson1</div>
            <span>@Resources.SharedResource.DesReson1</span>
            <div class="des-info-company">@Resources.SharedResource.Reson2</div>
            <span>@Resources.SharedResource.DesReson2</span>
            <div class="des-info-company">@Resources.SharedResource.Reson3</div>
            <span>@Resources.SharedResource.DesReson3</span>
        </div>
        <div class="image-company">
            <img class="image-company-des" src="~/Theme-FrontEnd/assets/Content/company.jpg">
        </div>
    </div>
</div>

<div class="info-staff " data-aos="fade-up">
    <div class="title-company f-600">ĐỘI NGŨ NHÂN SỰ</div>
    <div class="image-staff row pt-4">
        <div class="card-img-LeeWon card-img-info">
            <div class="div-image-staff">
                <img class="img-LeeWon " src="~/Theme-FrontEnd/assets/Content/LeeWon.jpg">
            </div>
            <div class="card-des-work-staff">
                <span class="d-block des-work-staff pt-2"><span class="f-600">@Resources.SharedResource.Study :</span>@Resources.SharedResource.LeeWon2</span>
                <span class="d-block des-work-staff"><span class="f-600">5/2012 </span>– @Resources.SharedResource.LeeWon3</span>
                <span class="d-block des-work-staff"><span class="f-600">2/2010</span> – @Resources.SharedResource.LeeWon4</span>
            </div>
            <div class="card-des-work-bottom">
                <span class="d-block name-staff">@Resources.SharedResource.LeeWon</span>
                <span class="d-block des-work-staff">@Resources.SharedResource.DesLeeWon1</span>
                <span class="d-block des-work-staff">@Resources.SharedResource.DesLeeWon2</span>
            </div>
        </div>
        <div class="card-img-LeeWon card-img-info">
            <div class="div-image-staff">
                <img class="img-LeeWon" src="~/Theme-FrontEnd/assets/Content/Seo.jpg">
            </div>
            <div class="card-des-work-staff">
                <span class="f-600 des-work-staff">@Resources.SharedResource.Study :</span>
                <span class="des-work-staff">
                    대한황실문화원 동남아 지부장.K.I.P.A 하노이 지부장,
                    R&I Institute 이사,법무법인 광장
                </span>
                <span class="f-600 des-work-staff"> Ecommerce law Division </span><span class="des-work-staff">실장, Macquarie investment Bank Analyst</span>
            </div>
            <div class="card-des-work-bottom">
                <span class="d-block name-staff">@Resources.SharedResource.Seo</span>
            </div>
        </div>
    </div>
    <div class="image-staff row pt-4 margin-top">
        <div class="card-img-superior card-img-info mx-5">
            <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/jang.jpg">
            <div class="dess-card-img-superior">
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Jang1</span>
                @*<span class="d-block des-work-staff "><span class="f-600">주요경력:</span>Buon Ma Thuat 원장,중국 베이징 기획사 운영, 중국북경 I one광고 유한공사 재무이사</span>*@
            </div>
            <div class="name-card-img-superior">
                <span class="d-block name-staff">@Resources.SharedResource.Jang</span>
            </div>
        </div>
        <div class="card-img-superior card-img-info mx-5 mt-3">
            <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/ParkChangDeok.jpg">
            <div class="dess-card-img-superior">
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Park1</span>
                <span class="d-block des-work-staff "><span class="f-600">주요경력: </span> 사단법인 한국이민사회전문가협회 국제교류협력본부장, 교원2급</span>
                @*<span class="d-block des-work-staff"> <span class="f-600">1/2020 -nay</span> –  @Resources.SharedResource.Park2</span>
                    <span class="d-block des-work-staff"><span class="f-600">1/2022-nay </span>–  @Resources.SharedResource.Park3</span>*@
            </div>
            <div class="name-card-img-superior">
                <span class="d-block name-staff">@Resources.SharedResource.Park</span>
            </div>
        </div>
        <div class="card-img-superior card-img-info mx-5 mt-3">
            <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/min.jpg">
            <div class="dess-card-img-superior">
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Min1</span>
                @*<span class="d-block des-work-staff"><span class="f-600">주요경력: </span>@Resources.SharedResource.Min2</span>*@
            </div>
            <div class="name-card-img-superior">
                <span class="d-block name-staff">@Resources.SharedResource.Min</span>
            </div>
        </div>

        <div class="card-img-superior card-img-info mx-5">
            <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/ChoiJaeHak.jpg">
            <div class="dess-card-img-superior">
                <span class="d-block des-work-staff pt-2"><span class="f-600">@Resources.SharedResource.Study:</span>  @Resources.SharedResource.Choi1</span>
                @*<span class="d-block des-work-staff"><span class="f-600">2018</span> – @Resources.SharedResource.Choi2</span>
                    <span class="d-block des-work-staff"> <span class="f-600">2008-2011</span> –  @Resources.SharedResource.Choi3</span>
                    <span class="d-block des-work-staff"><span class="f-600">1/1997-2007 </span>–  @Resources.SharedResource.Choi4</span>*@
            </div>
            <div class="name-card-img-superior">
                <span class="d-block name-staff">@Resources.SharedResource.Choi</span>
            </div>
        </div>
    </div>
</div>
<div class="team-teachers" data-aos="fade-up">
    @*<div class="title-company">Đội Ngũ Thầy Cô chất lượng Việt - Hàn Tại KIPA</div>*@
    <div class="info-teacher row mt-4">
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/oanh.png">
            <div class="card-teacher-subject">
                <div class="name-teacher">1995 년생 Đậu Thị Kiều Oanh</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher1</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block  pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span>  @Resources.SharedResource.Exteacher1</span>
            </div>
        </div>
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/yen.png">
            <div class="card-teacher-subject">
                <div class="name-teacher">2001 년생 Mai Thị Yến</div>
                <span class="d-block pt-3 ">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> 탕롱대학교 한국어학과</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> K.I.P.A 하노이, R&I Institute 연구원, 한국어 강사, 토픽 감독관, SKC 강사</span>
            </div>
        </div>
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/Linh.jpg">
            <div class="card-teacher-subject">
                <div class="name-teacher">2000 년생 Nguyễn Hoàng Linh</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher3</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> @Resources.SharedResource.Exteacher3</span>
            </div>
        </div>
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/vananh.png">
            <div class="card-teacher-subject">
                <div class="name-teacher">2001 년생 Trần Vân Anh</div>
                <span class="d-block pt-3 ">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> 탕롱대학교 한국어학과</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span>  @Resources.SharedResource.Exteacher1</span>
            </div>
        </div>
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/thuha.png">
            <div class="card-teacher-subject">
                <div class="name-teacher">2000 년생 Phí Thị Thu Hà</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> 하노이대학 한국어학과 </span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> K.I.P.A 하노이, R&I Institute 연구원, 한국어 강사, 토픽 감독관, SKC 강사</span>
            </div>
        </div>
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/Ngoc.jpg">
            <div class="card-teacher-subject">
                <div class="name-teacher">1999 년생 Bùi Thị Ngọc</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span>하노이인문대학 한국어학과 </span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">
                    •<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> K.I.P.A 하노이, R&I Institute 연구원,
                    (사)전북베트남교류증진협의회 부온마톳지부 강사
                </span>
            </div>
        </div>
    </div>
    <div class="info-teacher row mt-4">
    </div>
</div>
@*<div class="info-staff " data-aos="fade-up">
        <div class="title-company">ĐỘI NGŨ NHÂN SỰ</div>
        <div class="image-staff row pt-4">
            <div class="card-img-LeeWon card-img-info col-4">
                <img class="img-LeeWon " src="~/Theme-FrontEnd/assets/Content/LeeWon.jpg">
            </div>
            <div class="card-img-superior card-img-info  col-4">
                <img class="img-superior " src="~/Theme-FrontEnd/assets/Content/ChoiJaeHak.jpg">
            </div>
            <div class="card-img-superior card-img-info col-4">
                <img class="img-superior " src="~/Theme-FrontEnd/assets/Content/Seo.jpg">
            </div>
        </div>
        <div class="des-staff row">
            <div class="col-4 card-des-work">
                <span class="d-block name-staff">@Resources.SharedResource.LeeWon</span>
                <span class="d-block name-staff">@Resources.SharedResource.LeeWon1</span>
                <span class="d-block des-work-staff pt-2"><span class="f-600">@Resources.SharedResource.Study:</span>@Resources.SharedResource.LeeWon2</span>
                <span class="d-block des-work-staff"><span class="f-600">5/2012 </span>– @Resources.SharedResource.LeeWon3</span>
                <span class="d-block des-work-staff"><span class="f-600">2/2010</span> – @Resources.SharedResource.LeeWon4</span>
            </div>
            <div class="col-4 card-des-work">
                <span class="d-block name-staff">@Resources.SharedResource.Choi</span>
                <span class="d-block des-work-staff pt-2"><span class="f-600">@Resources.SharedResource.Study:</span>  @Resources.SharedResource.Choi1</span>
                <span class="d-block des-work-staff"><span class="f-600">2018</span> – @Resources.SharedResource.Choi2</span>
                <span class="d-block des-work-staff"> <span class="f-600">2008-2011</span> –  @Resources.SharedResource.Choi3</span>
                <span class="d-block des-work-staff"><span class="f-600">1/1997-2007 </span>–  @Resources.SharedResource.Choi4</span>
            </div>
            <div class="col-4 card-des-work">
                <span class="d-block name-staff">@Resources.SharedResource.Seo</span>
                <span class="d-block name-staff">@Resources.SharedResource.Seo1</span>
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Seo2</span>
                <span class="d-block des-work-staff">@Resources.SharedResource.Seo3</span>
            </div>
        </div>
        <div class="image-staff row pt-4 mt-4">
            <div class="card-img-LeeWon card-img-info col-4">
                <img class="img-two-superior " src="~/Theme-FrontEnd/assets/Content/jang.jpg">
            </div>
            <div class="card-img-superior card-img-info  col-4">
                <img class="img-two-superior " src="~/Theme-FrontEnd/assets/Content/ParkChangDeok.jpg">
            </div>
            <div class="card-img-superior card-img-info col-4">
                <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/min.jpg">
            </div>
        </div>
        <div class="des-staff row mt-4">
            <div class="col-4 card-des-work">
                <span class="d-block name-staff">@Resources.SharedResource.Jang</span>
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Jang1</span>
                <span class="d-block des-work-staff">@Resources.SharedResource.Jang2</span>
            </div>
            <div class="col-4 card-des-work">
                <span class="d-block name-staff">@Resources.SharedResource.Park</span>
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Park1</span>
                <span class="d-block des-work-staff"> <span class="f-600">1/2020 -nay</span> –  @Resources.SharedResource.Park2</span>
                <span class="d-block des-work-staff"><span class="f-600">1/2022-nay </span>–  @Resources.SharedResource.Park3</span>

            </div>
            <div class="col-4 card-des-work">
                <span class="d-block name-staff">@Resources.SharedResource.Min</span>
                <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Min1</span>
                <span class="d-block des-work-staff">@Resources.SharedResource.Min2</span>
            </div>
        </div>
    </div>
    <div class="team-teachers" data-aos="fade-up">
        <div class="title-company">Đội Ngũ Thầy Cô chất lượng Việt - Hàn Tại KIPA</div>
        <div class="info-teacher row mt-4">
            <div class="card-teachers col-4 row ">
                <img class="col-6 image-teacher" src="~/Theme-FrontEnd/assets/Content/oanh.png">
                <div class="col-6">
                    <div class="name-teacher">@Resources.SharedResource.teacher1</div>
                    <span class="d-block p-20"><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher1</span>
                    <span class="d-block p-20"><span class="f-600">Level topik :</span> 6</span>

                </div>
                <div class="col-12 p-20"><span class="f-600">@Resources.SharedResource.Potision:</span>  @Resources.SharedResource.Exteacher1</div>
            </div>
            <div class="card-teachers col-4 row ">
                <img class="col-6 image-teacher" src="~/Theme-FrontEnd/assets/Content/diem.jpg">
                <div class="col-6">
                    <div class="name-teacher">@Resources.SharedResource.teacher2</div>
                    <span class="d-block p-20"><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher2</span>
                    <span class="d-block p-20"><span class="f-600">Level topik :</span> 6</span>

                </div>
                <div class="col-12 p-20"><span class="f-600">@Resources.SharedResource.Potision:</span> @Resources.SharedResource.Exteacher2</div>
            </div>
            <div class="card-teachers col-4 row ">
                <img class="col-6 image-teacher" src="~/Theme-FrontEnd/assets/Content/Linh.jpg">
                <div class="col-6">
                    <div class="name-teacher">@Resources.SharedResource.teacher3</div>
                    <span class="d-block p-20"><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher3</span>
                    <span class="d-block p-20"><span class="f-600">Level topik :</span> 6</span>
                </div>
                <div class="col-12 p-20"><span class="f-600">@Resources.SharedResource.Potision:</span> @Resources.SharedResource.Exteacher3</div>
            </div>
        </div>

    </div>*@
<div class="info-infrastructure" data-aos="fade-up">
    @*  <div class="header-infrastructure">
            <div class="title-company">CƠ SỞ VẬT CHẤT TẠI KIPA</div>
            <div class="image-infrastructure">
                <img class="" src="~/Theme-FrontEnd/assets/Content/service1.png">
                <img class="" src="~/Theme-FrontEnd/assets/Content/service1.png">
                <img class="" src="~/Theme-FrontEnd/assets/Content/service1.png">
                <img class="" src="~/Theme-FrontEnd/assets/Content/service1.png">

            </div>
        </div> *@
    <div class="service-company">
        <div class="title-company">
            CÁC DỊCH VỤ TẠI KIPA
        </div>
        <div class="main-service mt-5 row">
            <div class="card-service row ">
                <div class="col-6 card-imgage-service">
                    <div class="div-null"></div>
                    <img class="imgage-service " src="~/Theme-FrontEnd/assets/Content/service1.png">
                </div>
                <div class="col-6 card-content-service">
                    <span class="d-block titl-service">TƯ VẤN DU HỌC</span>
                    <span class="d-block content-service pt-4">Tư vấn: <span class="f-600">Miễn phí</span></span>
                    <span class="d-block content-service">Thông tin: <span class="f-600">Chính xác</span></span>
                    <span class="d-block content-service">Thái độ: <span class="f-600">Tận tình</span></span>
                </div>
            </div>
            <div class="card-service row">
                <div class="col-6 card-imgage-service ">
                    <div class="div-null"></div>
                    <img class="imgage-service " src="~/Theme-FrontEnd/assets/Content/service2.png">
                </div>
                <div class="col-6 card-content-service">
                    <span class="d-block titl-service">XỬ LÝ HỒ SƠ</span>
                    <span class="d-block content-service pt-4">Chi phí: <span class="f-600">39.000 VND</span></span>
                    <span class="d-block content-service f-600">Minh bạch, không phát sinh</span>
                </div>
            </div>
            <div class="card-service row">
                <div class="col-6 card-imgage-service">
                    <div class="div-null"></div>
                    <img class="imgage-service " src="~/Theme-FrontEnd/assets/Content/service3.png">
                </div>
                <div class="col-6 card-content-service">
                    <span class="d-block titl-service">KHÓA HỌC TIẾNG HÀN</span>
                    <span class="d-block content-service pt-4">Học phí: <span class="f-600">Trọn gói</span></span>
                    <span class="d-block content-service">Thời gian: <span class="f-600">5 buổi/ tuần</span></span>
                    <span class="d-block content-service">Giáo viên: <span class="f-600">Việt Nam - Hàn Quốc</span></span>
                </div>
            </div>
            <div class="card-service row mt-5">
                <div class="col-6 card-imgage-service">
                    <div class="div-null"></div>
                    <img class="imgage-service " src="~/Theme-FrontEnd/assets/Content/service3.png">
                </div>
                <div class="col-6 card-content-service">
                    <span class="d-block titl-service">GIAO LƯU VĂN HÓA</span>
                    <span class="d-block content-service pt-4">
                        Thời gian: <span class="f-600">
                            Định kỳ/tháng
                        </span>
                    </span>
                    <span class="d-block content-service f-600">Bổ ích -  miễn phí</span>
                    <span class="d-block content-service">Tạo nên cộng đồng du học sinh tương trợ bền vững</span>
                </div>
            </div>
            <div class=" card-service card-service-last row mt-5">
                <div class="col-6 card-imgage-service">
                    <div class="div-null"></div>
                    <img class="imgage-service " src="~/Theme-FrontEnd/assets/Content/service4.png">
                </div>
                <div class="col-6 card-content-service">
                    <span class="d-block titl-service">KÝ TÚC XÁ</span>
                    <span class="d-block content-service pt-4">Chi phí: <span class="f-600">Miễn phí</span></span>
                    <span class="d-block content-service f-600">Tiện nghi - an toàn</span>
                    <span class="d-block content-service">
                        Giúp học sinh làm quen cuộc
                        sống xa nhà
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
