@{ ViewBag.Title = "Về chúng tôi-tiếng-hàn";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section scripts {
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
            // Cập nhật kích thước của các slide khi kích thước màn hình thay đổi
            $(window).on('resize', function () {
                $('.carousel-inner .item').each(function () {
                    $(this).css('height', $(window).height() + 'px');
                });
            }).resize(); // Gọi hàm resize ngay khi trang được tải
        });

    </script>
}
<link href="~/Theme-FrontEnd/assets/css/header.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="slick/slick.css" />

<div class="header-detail" data-aos="fade-up">
    <span class="title-header-detail animated slideInDown" style="animation-delay: 1s">@Resources.SharedResource.TitleHeader</span>
    <span class="des-header-detail animated fadeInUp" style="animation-delay: 2s">@Resources.SharedResource.DesHeader</span>
</div>
<div class="infomation-company" data-aos="fade-up">
    <div class="title-company">
        @Resources.SharedResource.TitleCompany
    </div>
    <div class="content-company row">
        <div class="des-company">
            <div div class="title-choose">@Resources.SharedResource.Reson</div>
            <div class="des-info-company pt-3">@Resources.SharedResource.Reson1</div>
            <span>@Resources.SharedResource.DesReson1</span>
            <div class="des-info-company">@Resources.SharedResource.Reson2</div>
            <span>@Resources.SharedResource.DesReson2</span>
            <div class="des-info-company">@Resources.SharedResource.Reson3</div>
            <span>@Resources.SharedResource.DesReson3</span>
        </div>
        <div class="image-company">
            <img class="image-company-des" src="~/Theme-FrontEnd/assets/Content/company.jpg">
        </div>
    </div>
</div>

<div class="info-staff " data-aos="fade-up">
    <div class="title-company f-600">회사 조직, 인원, 보유 강사진</div>
    <div class="image-staff row pt-4 mt-4">
        <div class="card-img-LeeWon card-img-info">
            <div class="div-image-staff">
                <img class="img-LeeWon " src="~/Theme-FrontEnd/assets/Content/LeeWon.jpg">
            </div>
            <div class="card-des-work-staff">
                <span class="d-block des-work-staff pt-2"><span class="f-600">@Resources.SharedResource.Study :</span>@Resources.SharedResource.LeeWon2</span>
                <span class="d-block des-work-staff"><span class="f-600">5/2012 </span>– @Resources.SharedResource.LeeWon3</span>
                <span class="d-block des-work-staff"><span class="f-600">2/2010</span> – @Resources.SharedResource.LeeWon4</span>
            </div>
            <div class="card-des-work-bottom">
                <span class="d-block name-staff">@Resources.SharedResource.LeeWon</span>
                <span class="d-block des-work-staff f-600">@Resources.SharedResource.DesLeeWon1</span>
                <span class="d-block des-work-staff f-600">@Resources.SharedResource.DesLeeWon2</span>

            </div>
        </div>
        <div class="card-img-LeeWon card-img-info">
            <div class="div-image-staff">
                <img class="img-LeeWon" src="~/Theme-FrontEnd/assets/Content/Seo.jpg">
            </div>
            <div class="card-des-work-staff">
                <span class="f-600 des-work-staff">@Resources.SharedResource.Study :</span>
                <span class="des-work-staff">
                    대한황실문화원 동남아 지부장.K.I.P.A 하노이 지부장,
                    R&I Institute 이사,법무법인 광장
                </span>
                <span class="f-600 des-work-staff"> Ecommerce law Division </span><span class="des-work-staff">실장, Macquarie investment Bank Analyst</span>
            </div>
            <div class="card-des-work-bottom">
                <span class="d-block name-staff">@Resources.SharedResource.Seo</span>
            </div>
        </div>
    </div>
<div class="image-staff pt-4 mt-4 margin-top">
    <div class="card-img-superior card-img-info ">
            <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/jang.jpg">
        <div class="dess-card-img-superior">
            <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Jang1</span>
            @*<span class="d-block des-work-staff "><span class="f-600">주요경력:</span>Buon Ma Thuat 원장,중국 베이징 기획사 운영, 중국북경 I one광고 유한공사 재무이사</span>*@
        </div>
        <div class="name-card-img-superior">
            <span class="d-block name-staff">@Resources.SharedResource.Jang</span>
        </div>
    </div>
    <div class="card-img-superior card-img-info mx-5">
        <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/ParkChangDeok.jpg">
        <div class="dess-card-img-superior">
            <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Park1</span>
            <span class="d-block des-work-staff "><span class="f-600">주요경력: </span> 사단법인 한국이민사회전문가협회 국제교류협력본부장, 교원2급</span>
            @*<span class="d-block des-work-staff"> <span class="f-600">1/2020 -nay</span> –  @Resources.SharedResource.Park2</span>
            <span class="d-block des-work-staff"><span class="f-600">1/2022-nay </span>–  @Resources.SharedResource.Park3</span>*@
        </div>
        <div class="name-card-img-superior">
            <span class="d-block name-staff">@Resources.SharedResource.Park</span>
        </div>
    </div>
    <div class="card-img-superior card-img-info ">
        <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/min.jpg">
        <div class="dess-card-img-superior">
            <span class="d-block des-work-staff "><span class="f-600">@Resources.SharedResource.Study:</span> @Resources.SharedResource.Min1</span>
            @*<span class="d-block des-work-staff"><span class="f-600">주요경력: </span>@Resources.SharedResource.Min2</span>*@
        </div>
        <div class="name-card-img-superior">
            <span class="d-block name-staff">@Resources.SharedResource.Min</span>
        </div>
    </div>

    <div class="card-img-superior card-img-info ">
        <img class="img-two-superior" src="~/Theme-FrontEnd/assets/Content/ChoiJaeHak.jpg">
        <div class="dess-card-img-superior">
            <span class="d-block des-work-staff pt-2"><span class="f-600">@Resources.SharedResource.Study:</span>  @Resources.SharedResource.Choi1</span>
            @*<span class="d-block des-work-staff"><span class="f-600">2018</span> – @Resources.SharedResource.Choi2</span>
            <span class="d-block des-work-staff"> <span class="f-600">2008-2011</span> –  @Resources.SharedResource.Choi3</span>
            <span class="d-block des-work-staff"><span class="f-600">1/1997-2007 </span>–  @Resources.SharedResource.Choi4</span>*@
        </div>
        <div class="name-card-img-superior">
            <span class="d-block name-staff">@Resources.SharedResource.Choi</span>
        </div>
    </div>
</div>
</div>
<div class="team-teachers" data-aos="fade-up">
    @*<div class="title-company">Đội Ngũ Thầy Cô chất lượng Việt - Hàn Tại KIPA</div>*@
    <div class="info-teacher row mt-4">
        <div class="card-teachers row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/oanh.png">
            <div class="col-6">
                <div class="name-teacher">1995 년생 Đậu Thị Kiều Oanh</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher1</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block  pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span>  @Resources.SharedResource.Exteacher1</span>
            </div>
        </div>
        <div class="card-teachers  row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/yen.png">
            <div class="col-6">
                <div class="name-teacher">2001 년생 Mai Thị Yến</div>
                <span class="d-block pt-3 ">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> 탕롱대학교 한국어학과</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> K.I.P.A 하노이, R&I Institute 연구원, 한국어 강사, 토픽 감독관, SKC 강사</span>
            </div>
        </div>
        <div class="card-teachers  row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/Linh.jpg">
            <div class="col-6">
                <div class="name-teacher">2000 년생 Nguyễn Hoàng Linh</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> @Resources.SharedResource.desteacher3</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> @Resources.SharedResource.Exteacher3</span>
            </div>
        </div>
        <div class="card-teachers  row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/vananh.png">
            <div class="col-6">
                <div class="name-teacher">2001 년생 Trần Vân Anh</div>
                <span class="d-block pt-3 ">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> 탕롱대학교 한국어학과</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span>  @Resources.SharedResource.Exteacher1</span>
            </div>
        </div>
        <div class="card-teachers  row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/thuha.png">
            <div class="col-6">
                <div class="name-teacher">2000 년생 Phạm Thị Thu Hà</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span> 하노이대학 한국어학과 </span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> K.I.P.A 하노이, R&I Institute 연구원, 한국어 강사, 토픽 감독관, SKC 강사</span>
            </div>
        </div>
        <div class="card-teachers  row ">
            <img class="image-teacher" src="~/Theme-FrontEnd/assets/Content/Ngoc.jpg">
            <div class="col-6">
                <div class="name-teacher">1999 년생 Bùi Thị Ngọc</div>
                <span class="d-block pt-3">•<span class="f-600 mx-2"> @Resources.SharedResource.Study:</span>하노이인문대학 한국어학과 </span>
                <span class="d-block pt-1">•<span class="f-600 mx-2"> Level topik :</span> 6</span>
                <span class="d-block pt-1">
                    •<span class="f-600 mx-2"> @Resources.SharedResource.Potision:</span> K.I.P.A 하노이, R&I Institute 연구원,
                    (사)전북베트남교류증진협의회 부온마톳지부 강사
                </span>
            </div>
        </div>
    </div>
</div>
<div class="info-staff-infomation" data-aos="fade-up">
    <div class="title-company f-600">유관사업 실적</div>
    <div class="content-result-company pt-4">
        <div class="title-content">
            베트남 기업 교육, 연수 실적 SKC, HYOSUNG(2024~효성)
        </div>
        <span class="mt-4 pt-2 ">
            SKC 기업은 IT, BT, 자동차, 전자부품에 사용되는 Test Socket 반도체 생산기술을 개발하고 혁신하는 기업이다. 회사의 한국인 직원, 고위 관리자, 엔지니어로 구성됨으로 반도체 유형별로 단기
            간에 최적화된 각종 제품을 개발하고 고객에게 최상의 솔루션을 제공한다. 사내 한국어 교육을 통한 능률 향상을 위해 SKC 회사는 2021년에 KIPA에게 사내 교육을 위탁, 한국어 교육 및 한
            국인 직원과의 의사소통 능력 향상을 추구하고 있다. 교육 프로그램은 1년에 6개월 교육, 주 3회이고 매주 첫 번째 월요일에는 학생의 능력 평가 시험이 있으며, 교육 과정을 우수하게 수료하
            기 위해 한국어 능력시험 및 말하기 대회, 한국 문화체험 등이 있다. 위의 일정으로 매년 80~90명을 가르치고 있으며 학생들은 2023년 자체 한국어능력시험에서 토픽 2, 3, 4급을 획득하고 공
            식 한국어 능력시험 (TOPIK) 에서도82%의 경이로운 합격 결과를 낳았다. 뿐만 아니라, 매년 KIPA에서 교육 받은 학생들은 한국인 직원, 상사와 자신있게 소통할 수 있으며 비즈니스 문화, 특히
            한국 문화를 습득하여 생산성 향상에 높은 기여를 하고 있다. 이러한 사내 교육은 점차 확산되어 베트남 옌풍에 있는 효성과도 이미 계약을 마치고 2024년 10월부터 시작하게 된다
        </span>
        <div class="owl-carousel animated fadeInUp grid-width-80">
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="~/Theme-FrontEnd/assets/Content/image1.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/image2.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/image3.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/image4.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/image5.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/image6.jpg">
            </div>
        </div>
    </div>
</div>
<div class="pt-2" data-aos="fade-up">
    <div class="content-result-company pt-4">
        <div class="title-content mt-4">
            한국 지방정부와 베트남 지방정부의 교육지원 협력사업 (전라북도  =  하노이, 닥락성)
        </div>
        <span class="pt-2 mt-4 px-4 px-4">
            JVEC(전북베트남교류증진협의회)와 베트남 닥락성의 한국어 교육을 위임 받아 KIPA가 2023년 부터 닥락성내 유학생 및 계절근로자 단체의 한국어 교육 및 지원 기관으로 협력하고 있다.
            한국어 교육을 지원하고 유학을 희망하는 닥락성내  대상자에게 2023년에 3개월 동안 약 80명 교육을 실시하여 80%이상의 자체 토픽시험 1,2급 합격과 높은 출결율을 보였으며 2024년에도 이어지고 있다.
            또한 전라북도에 파견 근무하기 위하여 선정된 애아숩현(닥락성)에 거주하는 베트남 근로자들을 대상으로 계절근로자 교육을 실시하며, 이 프로그램은 외국인 계절근로제도에 대해 알려주고 한국의 농업(전라북도)에 대해 이해할 수 있을 뿐만 아니라 일상생활에서 기본적인 대화를 훈련하고 정보를 전달할 수 있는 능력을 목표로 하는 것이다. 
            2023년에는 48명 2024년에는 138명으로 크게 증가하고 있다. 근로자들이 실생활 기초 회화, 한국 문화 이해, 농업용어, 전라북도 농업 탐구 등 다양한 지식으로 진행하여 한국에서 근무할 때 만족도를 충족시킬 수 있다. 이 교육 과정은 매년 약 4주 동안 진행된다
        </span>
        <div class="title-company f-600 pt-4 mt-4">전북=닥락성,하노이 유학생 한국어 교육 프로그램</div>
        <div class="owl-carousel animated fadeInUp grid-width-80">
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="~/Theme-FrontEnd/assets/Content/photo1.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/photo22.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/photo3.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/photo4.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/photo5.jpg">
            </div>
        </div>
    </div>
</div>
<div class="info-staff-infomation" data-aos="fade-up">
    <div class="content-result-company pt-4">
        <div class="title-content">
            전라북도 계절근로자 E8 교육 프로그램
        </div>
        <div class="owl-carousel animated fadeInUp grid-width-80">
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="~/Theme-FrontEnd/assets/Content/i1.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/i2.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/i3.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/i4.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/i5.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/i66.jpg">
            </div>
        </div>
    </div>
</div>
<div class="pt-2" data-aos="fade-up">
    <div class="content-result-company">
        <span class="pt-2 mt-4">
            경북=타잉위옌성,박닌성, 하노이 유학생
            @*경상북도는 2023년부터KIPA와 협력하여 베트남 지방정부들과 연계를 통한 교욱지원 및 유학생,근로자 유치를 위한 사업을 적극적으로 펼쳐가고 있으며 2024년 부터 결실을 맺고있다.
            경상북도의 자사고인 김천고등학교를 필두로 6개 학교에 48명의 유학생을 보냈으며 양국 학생 방문 교류등도 시작 되었으며2025년에는 대폭 확대될 것으로 보인다.*@
        </span>
        <div class="title-company f-600 mt-4">경북=타잉위옌성,박닌성, 하노이 유학생 </div>
        <div class="owl-carousel animated fadeInUp grid-width-80">
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="~/Theme-FrontEnd/assets/Content/learn1.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn2.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn3.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn4.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn5.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn6.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn7.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/learn88.jpg">
            </div>
        </div>
    </div>
</div>
<div class="info-staff-infomation" data-aos="fade-up">
    <div class="content-result-company">
        <div class="title-content mt-4">
            한국 주요 정부 기관과의 연계사업 E9 – 산업인력공단(HRDK)
        </div>
        <span class="pt-4 mt-4">
            한국산업인력공단(HRDK)과 베트남노동기관COLAB의 귀국 근로자 대상 사업에 선정된 KIPA는  근로자를 위한 훈련기관으로 지정되었다.
            이 훈련과정은 한국에서 근로계약을 마치고 베트남으로 귀국한 베트남 근로자를 대상으로 진행된다.
            과정의 목표는 한국에서 근무하면서 쌓은 경험과 본 훈련과정을 통해 배운 지식을 활용하여 한국에서 귀국한 근로자들이 베트남에 있는 한국기업에 성공적으로 취업할 수 있도록 돕는 것이다.
            이 과정을 통해 근로자는 중간 관리자 교육,생산 관리 기술, 기본 컴퓨터 기술 및 한국어 교육을 갖추고 한국에서 근무하면서 습득한 지식을 좀 더 체계적으로 갖추게, 된다.
            훈련 과정은 매년 1개월 동안 주당 35시간씩 산업인력공단 100% 지원의 숙식을 포함한 전체 교육 형식으로 진행되며, 과정 수료 후 근로자들은 산업인력공단 공식 수료증을 발급 받고,
            베트남 내 한국 기업에 적합한 일자리를 찾을 수 있도록 지원된다. 개막과 폐막 프로그램에는 베트남의 사회보훈노동부, 기업사회부 등에 고위관리들이 출연한다.
            이 프로그램은 노동자와 고용자들에게 엄청난 영향력을 보여주었고 베트남 국영 TV 에 뉴스로 크게 단독 보도 되었다.
        </span>
        <div class="owl-carousel animated fadeInUp grid-width-80">
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="~/Theme-FrontEnd/assets/Content/h1.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/h2.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/h3.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/h4.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/h5.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/h6.jpg">
            </div>
        </div>
    </div>
</div>
<div class="pt-2" data-aos="fade-up">
    <div class="content-result-company pt-4">
        <div class="title-content f-600">대한민국 국내 학생 교육(남원제일 고등학교, 학산 고등학교, 전주공업 고등학교) </div>
        <span class="pt-4 mt-4">
            KIPA는 남원제일 고등학교, 학산 고등학교, 전주공업 고등학교의 학생들을 대상으로 기본 베트남어 교육 프로그램을 온라인으로 진행한다. 한국 학생이 베트남어 
            기본을 숙지할 수 있고 학생들을 위해 일상생활에 자주 사용하는 베트남 말과 단어를 학습 시키는 목적으로 과정을 마친 후 학생들은  베트남 수학여행 및 베트남 학생들과의 교류가 대폭 증진되었다.
        </span>
        <div class="owl-carousel animated fadeInUp grid-width-80">
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="~/Theme-FrontEnd/assets/Content/online1.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/online2.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/online3.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/online4.jpg">
            </div>
            <div class="image-carousel-company">
                <img class="item-image-carousel" src="/Theme-FrontEnd/assets/Content/online5.jpg">
            </div>
            </div>
        </div>
    </div>
</div>