
@{
    ViewBag.Title = "Visa D2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        document.getElementById('card-content-letter').addEventListener('click', function (e) {
            e.preventDefault(); // Prevent default link behavior

            if (e.target.tagName === 'A') {
                var targetId = e.target.getAttribute('href').substring(1); // Get the ID of the target content section
                var targetElement = document.getElementById(targetId); // Find the target content section
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll to the target content section smoothly
                }
            }
        });

    </script>
}

<link href="~/Theme-FrontEnd/assets/css/header.css" rel="stylesheet" />
<div class="header-detail" data-aos="fade-up">
    <span class="title-header-detail animated slideInDown" style="animation-delay: 1s">@Resources.SharedResource.TitleHeader</span>
    <span class="des-header-detail animated fadeInUp" style="animation-delay: 2s">@Resources.SharedResource.DesHeader</span>
</div>
<div class="study-abroad-high-school row" data-aos="fade-up">
    <div class="left-high-school">
        <div class="card-content-letter" id="card-content-letter">
            <div class="title-left-link f-600">Nội dung công việc</div>
            <ul class="pt-3 style-type-none">
                <li><a href="#section1" class="a-link-page d-block">1.@Resources.SharedResource.D2VisaTitle1?</a></li>
                <li>
                    <a href="#section2" class="a-link-page d-block">
                        2. @Resources.SharedResource.D2VisaTitle2
                    </a>
                </li>
                <li>
                    <a href="#section3" class="a-link-page d-block">
                        3. @Resources.SharedResource.D2VisaTitle3
                    </a>
                </li>
                <li><a href="#section4" class="a-link-page d-block">4. @Resources.SharedResource.D2VisaTitle4?</a></li>
                <li><a href="#section5" class="a-link-page d-block">5. @Resources.SharedResource.D2VisaTitle5</a></li>
                <li><a href="#section6" class="a-link-page d-block">6. @Resources.SharedResource.D2VisaTitle6</a></li>
                <li><a href="#section7" class="a-link-page d-block">7. @Resources.SharedResource.D2VisaTitle7</a></li>
                <li><a href="#section8" class="a-link-page d-block">8. Danh sách các trường đại học ở Hàn Quốc</a></li>
                @*    <li><a href="#section6" class="a-link-page d-block">6. Thủ tục xin visa D2 Hàn Quốc</a></li>
                    <li><a href="#section7" class="a-link-page d-block">7.Quyền lợi của Visa D2 Hàn Quốc</a></li>
                    <li><a href="#section8" class="a-link-page d-block">8. Danh sách các trường đại học ở Hàn Quốcc</a></li> *@

            </ul>
        </div>
    </div>
    <div class="center-high-school">
        <div class="Introduce-progame ">
            <span class="title-page d-block">@Resources.SharedResource.D2VisaHeaderTitle</span>
        </div>
        <div id="section1">
            <div class="line-20 pt-3 order-number-title f-600">1. @Resources.SharedResource.D2VisaTitle1?</div>
            <div class="content-section">
                <div>
                    @Resources.SharedResource.D2VisaTitle1Subject
                </div>
                <img class="img-page d-block pt-3" src="~/Theme-FrontEnd/assets/Content/VisaD2_1.png">
                <span class="d-block span-des-image pt-4">@Resources.SharedResource.D2VisaTitle1Image</span>
            </div>
        </div>
        <div id="section2">
            <div class="line-20 pt-3 order-number-title f-600">2. @Resources.SharedResource.D2VisaTitle2.</div>
            <div class="content-section pt-4">
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject1_1.</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject1_2</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject1_3.</span>
                <span class="d-block line-20 ml-50"> • @Resources.SharedResource.D2VisaTitle2Subject1_4.</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject1_5.</span>
                <span class="title-child-page pt-4"> @Resources.SharedResource.D2VisaTitle2Subject2_1:</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject2_2.</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject2_3.</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject2_4.</span>
                <img class="img-page d-block pt-3" src="~/Theme-FrontEnd/assets/Content/VisaD2_2.png">
                <span class="d-block span-des-image pt-4">@Resources.SharedResource.D2VisaTitle2Image</span>
                <span class="title-child-page pt-4"> @Resources.SharedResource.D2VisaTitle2Subject3_1:</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject3_2</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject3_3</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject3_4.</span>
                <span class="title-child-page pt-4"> @Resources.SharedResource.D2VisaTitle2Subject4_1:</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject4_2</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.D2VisaTitle2Subject4_3.</span>

            </div>
        </div>
        <div id="section3">
            <div class="line-20 pt-3 order-number-title f-600">3. @Resources.SharedResource.D2VisaTitle3</div>
            <div class="content-section">
                <table>
                    <tr>
                        <th class="font-weight-bold text-center">@Resources.SharedResource.D2VisaTitle3TableHeader1</th>
                        <th class="font-weight-bold text-center">@Resources.SharedResource.D2VisaTitle3TableHeader2</th>
                        <th class="font-weight-bold text-center">@Resources.SharedResource.D2VisaTitle3TableHeader3</th>
                    </tr>
                    <tr>
                        <td class="">D2-1</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow1Col2</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow1Col3</td>
                    </tr>
                    <tr>
                        <td class="">D2-2</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow2Col2</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow2Col3</td>
                    </tr>
                    <tr>
                        <td class="">D2-3</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow3Col2</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow3Col3</td>
                    </tr>
                    <tr>
                        <td class="">D2-4</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow4Col2</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow4Col3</td>
                    </tr>
                    <tr>
                        <td class="">D2-5</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow5Col2</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow5Col3</td>
                    </tr>
                    <tr>
                        <td class="">D2-6</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow6Col2</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">D2-7</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow7Col2</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">D2-8</td>
                        <td>@Resources.SharedResource.D2VisaTitle3TableRow8Col2</td>
                        <td></td>
                    </tr>
                </table>
                <img class="img-page d-block pt-3" src="~/Theme-FrontEnd/assets/Content/VisaD2_3.png">
                <span class="d-block span-des-image pt-4">@Resources.SharedResource.D2VisaTitle3Image</span>
            </div>
        </div>
        <div id="section4">
            <div class="line-20 pt-3 order-number-title f-600">4. @Resources.SharedResource.D2VisaTitle4?</div>
            <div class="content-section">
                <table>
                    <tr>
                        <th class="font-weight-bold text-center">@Resources.SharedResource.D2VisaTitle4TableHeader1</th>
                        <th class="font-weight-bold text-center">@Resources.SharedResource.D2VisaTitle4TableHeader2</th>
                    </tr>
                    <tr>
                        <td class="">@Resources.SharedResource.D2VisaTitle4TableRow1Col1</td>
                        <td>@Resources.SharedResource.D2VisaTitle4TableRow1Col2</td>
                    </tr>
                    <tr>
                        <td class="">@Resources.SharedResource.D2VisaTitle4TableRow2Col1</td>
                        <td>@Resources.SharedResource.D2VisaTitle4TableRow2Col2</td>
                    </tr>
                    <tr>
                        <td class="">@Resources.SharedResource.D2VisaTitle4TableRow3Col1</td>
                        <td>@Resources.SharedResource.D2VisaTitle4TableRow2Col2</td>
                    </tr>
                    <tr>
                        <td class="">@Resources.SharedResource.D2VisaTitle4TableRow4Col1</td>
                        <td>@Resources.SharedResource.D2VisaTitle4TableRow2Col2</td>
                    </tr>
                    <tr>
                        <td class="">@Resources.SharedResource.D2VisaTitle4TableRow5Col1</td>
                        <td>@Resources.SharedResource.D2VisaTitle4TableRow2Col2</td>
                    </tr>
                </table>
            </div>
            </<div>
            </div>
            <div id="section5">
                <div class="line-20 pt-3 order-number-title f-600"> 5. @Resources.SharedResource.D2VisaTitle5</div>
                <div class="content-section">
                    <span class="d-block line-20 ml-50 f-600"><span class="f-600">- @Resources.SharedResource.D2VisaTitle5Subject1</span></span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_1</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_2. </span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_3</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_4</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_5</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_6 </span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_7</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle5Subject1_8 </span>

                    <span class="d-block line-20 ml-50 f-600">- @Resources.SharedResource.D2VisaTitle5Subject2</span>
                    <span class="d-block line-20 ml-50 f-600">- @Resources.SharedResource.D2VisaTitle5Subject3</span>
                    <span class="d-block line-20 ml-50 f-600">- @Resources.SharedResource.D2VisaTitle5Subject4</span>
                    <span class="d-block line-20 ml-50 f-600">- @Resources.SharedResource.D2VisaTitle5Subject5.</span>
                    <img class="img-page d-block pt-3" src="~/Theme-FrontEnd/assets/Content/VisaD2_4.png">
                    <span class="d-block span-des-image pt-4">@Resources.SharedResource.D2VisaTitle5Image</span>
                </div>
            </div>
            <div id="section6">
                <div class="line-20 pt-3 order-number-title f-600"> 6. @Resources.SharedResource.D2VisaTitle6</div>
                <div class="content-section">
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject1</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject2</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject2_1:</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject2_1_1.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject2_1_2.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject2_1_3.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject2_1_4.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject2_1_5.</span>


                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject3.</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject3_1:</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_1_1.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_1_2</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject3_2: </span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_2_1</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_2_2.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_2_3</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_2_4.</span>
                    <span class="d-block line-20 ml-70">– @Resources.SharedResource.D2VisaTitle6Subject3_2_5</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject4 </span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject4_1.</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject5</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject5_1.</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject6</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject6_1.</span>
                    <span class="d-block line-20 ml-70">@Resources.SharedResource.D2VisaTitle6Subject6_2.</span>
                </div>
            </div>
            <div id="section7">
                <div class="line-20 pt-3 order-number-title f-600">7. @Resources.SharedResource.D2VisaTitle7</div>
                <div class="content-section">
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject1.</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject2.</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject3.</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject4.</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject5.</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject6.</span>
                    <span class="d-block line-20 ml-70">• @Resources.SharedResource.D2VisaTitle7Subject7.</span>
                </div>
            </div>
            <div id="section8">
                <div class="line-20 pt-3 order-number-title f-600">8. Danh sách các trường đại học ở Hàn Quốc</div>
                <div class="content-section">
                    <span class="d-block line-20 ml-70">1.	Đại học quốc gia Seoul– Seoul.</span>
                    <span class="d-block line-20 ml-70">2.	Viện khoa học và công nghệ tiên tiến Hàn Quốc (KAIST) – Daejeon.</span>
                    <span class="d-block line-20 ml-70">3.	Trường Đại học Yonsei Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">4.	Trường Đại học Korea Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">5.	Trường Đại học HanYang Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">6.	Trường Đại học Kyung Hee Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">7.	Trường Đại học Sungkyunkwan Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">8.	Pusan National University.</span>
                    <span class="d-block line-20 ml-70">9.	Đại học Khoa học và Công nghệ Pohang (POSTECH, tên gọi tắt của người Việt Trường Đại học Pohang Hàn Quốc) – Pohang.</span>
                    <span class="d-block line-20 ml-70">10.	Trường Đại học Chung Ang Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">11.	Đại học Sogang Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">12.	Đại học nữ Ewha – Seoul.</span>
                    <span class="d-block line-20 ml-70">13.	Đại học quốc gia Kyungpook – Daegu.</span>
                    <span class="d-block line-20 ml-70">14.	Đại học Hankuk.</span>
                    <span class="d-block line-20 ml-70">15.	Đại học Quốc gia Pukyong – Busan.</span>
                    <span class="d-block line-20 ml-70">16.	Đại học Yeungnam Hàn Quốc – Gyeongsangbuk.</span>
                    <span class="d-block line-20 ml-70">17.	Viện Khoa học và Công nghệ quốc gia Ulsan – Ulsan.</span>
                    <span class="d-block line-20 ml-70">18.	Đại học Quốc gia Chonnam.</span>
                    <span class="d-block line-20 ml-70">19.	Trường Đại học Ajou Hàn Quốc – Suwon (Gyeonggi).</span>
                    <span class="d-block line-20 ml-70">20.	Đại học Inha – Incheon.</span>
                    <span class="d-block line-20 ml-70">21.	Đại học Quốc gia Kangwon – Chuncheon.</span>
                    <span class="d-block line-20 ml-70">22.	University of Seoul(đại học Seoul).</span>
                    <span class="d-block line-20 ml-70">23.	Trường Đại học Wonkwang Hàn Quốc – Jeonbuk.</span>
                    <span class="d-block line-20 ml-70">24.	Trường Đại học Konkuk Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">25.	Trường Đại học Sejong Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">26.	Đại học Dankook – Yongin.</span>
                    <span class="d-block line-20 ml-70">27.	Đại học Dongguk – Seoul.</span>
                    <span class="d-block line-20 ml-70">28.	Trường Đại học Soongsil Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">29.	Đại học quốc gia Chungbuk – Cheongju (Chungcheongbuk).</span>
                    <span class="d-block line-20 ml-70">30.	Trường Đại học Kookmin Hàn Quốc (Đại học Quốc dân Hàn Quốc) – Seoul.</span>
                    <span class="d-block line-20 ml-70">31.	Trường Đại học Myongji  university Hàn Quốc – Seoul.</span>
                    <span class="d-block line-20 ml-70">32.	Đại học Hongik – Seoul.</span>
                    <span class="d-block line-20 ml-70">33.	Đại học quốc gia Chungnam (tên gọi tắt của người Việt: Đại học Chungnam Hàn Quốc) – Daejeon.</span>
                    <span class="d-block line-20 ml-70">34.	Đại học Quốc tế Handong – Pohang.</span>
                    <span class="d-block line-20 ml-70">35.	Đại học nữ sinh Sookmyung – Seoul.</span>
                    <span class="d-block line-20 ml-70">36.	Đại học Hallym – Chuncheon.</span>
                    <span class="d-block line-20 ml-70">37.	Đại học Quốc gia Gyeongsang – Jinju.</span>
                    <span class="d-block line-20 ml-70">38.	Đại học Gachon Hàn Quốc – Seongnam.</span>
                    <span class="d-block line-20 ml-70">39.	Đại học Wonkwang – Iksan.</span>
                    <span class="d-block line-20 ml-70">40.	Đại học Ulsan – Ulsan.</span>
                    <span class="d-block line-20 ml-70">41.	Đại học Dongseo – Busan.</span>
                    <span class="d-block line-20 ml-70">42.	Đại học Keimyung – Daegu</span>
                    <span class="d-block line-20 ml-70">43.	Đại học Đông A – Busan</span>
                    <span class="d-block line-20 ml-70">44.	Đại học Hannam – Daejeon</span>
                    <span class="d-block line-20 ml-70">45.	Đại học Khoa học và Công nghệ Quốc gia Seoul – Seoul</span>
                    <span class="d-block line-20 ml-70">46.	Đại học Inje – Gimhae</span>
                    <span class="d-block line-20 ml-70">47.	Đại học Quốc gia Jeju – Jeju</span>
                    <span class="d-block line-20 ml-70">48.	Đại học Chosun – Gwangju</span>
                    <span class="d-block line-20 ml-70">49.	Đại học Kwangwoon – Seoul</span>
                    <span class="d-block line-20 ml-70">50.	Đại học quốc gia Kongju</span>
                    <span class="d-block line-20 ml-70">51.	Đại học Dong-Eui – Busan</span>
                    <span class="d-block line-20 ml-70">52.	Đại học Daegu – Daegu</span>
                    <span class="d-block line-20 ml-70">53.	Đại học Hoseo – Asan</span>
                    <span class="d-block line-20 ml-70">54.	Đại học Kyungnam – Kyungnam University</span>
                    <span class="d-block line-20 ml-70">55.	Đại học Công giáo Hàn Quốc  – Seoul</span>
                    <span class="d-block line-20 ml-70">56.	Đại học quốc gia Incheon – Incheon</span>
                    <span class="d-block line-20 ml-70">57.	Korea University of Technology and Education – Cheonan</span>
                    <span class="d-block line-20 ml-70">58.	Trường Đại học Sangmyung Hàn Quốc – Seoul</span>
                    <span class="d-block line-20 ml-70">59.	Viện Công nghệ quốc gia Kumoh – Gumi</span>
                    <span class="d-block line-20 ml-70">60.	Đại học Soonchunhyang – Asan</span>
                    <span class="d-block line-20 ml-70">61.	Trường Đại học Kyonggi Hàn Quốc – Suwon (Gyeonggi)</span>
                    <span class="d-block line-20 ml-70">62.	Đại học Anyang – Anyang</span>
                    <span class="d-block line-20 ml-70">63.	Trường Đại học Sunmoon Hàn Quốc – Asan, Chungcheongnam</span>
                    <span class="d-block line-20 ml-70">64.	Đại học quốc gia Changwon</span>
                    <span class="d-block line-20 ml-70">65.	Đại học quốc gia Kunsan – Gunsan</span>
                    <span class="d-block line-20 ml-70">66.	Đại học Giao thông quốc gia Hàn Quốc</span>
                    <span class="d-block line-20 ml-70">67.	Đại học Silla – Busan</span>
                    <span class="d-block line-20 ml-70">68.	Đại học hàng không vũ trụ Hàn Quốc – Korea Aerospace University – Goyang</span>
                    <span class="d-block line-20 ml-70">69.	Đại học ngoại ngữ Busan – Busan</span>
                    <span class="d-block line-20 ml-70">70.	Đại học Kyungsung – Busan</span>
                    <span class="d-block line-20 ml-70">71.	Đại học nữ Sungshin – Seoul</span>
                    <span class="d-block line-20 ml-70">72.	Đại học nữ Seoul</span>
                    <span class="d-block line-20 ml-70">73.	Trường Đại học Jeonju Hàn Quốc – Jeonju</span>
                    <span class="d-block line-20 ml-70">74.	Đại học công nghệ Daegu – Gyeongsan</span>
                    <span class="d-block line-20 ml-70">75.	Đại học Konyang – Nonsan</span>
                    <span class="d-block line-20 ml-70">76.	Đại học Suwon – Hwaseong</span>
                    <span class="d-block line-20 ml-70">77.	Đại học Pai Chai – Daejeon</span>
                    <span class="d-block line-20 ml-70">78.	Đại học Woosong  – Daejeon</span>
                    <span class="d-block line-20 ml-70">79.	Đại học Cheongju – Cheongju</span>
                    <span class="d-block line-20 ml-70">80.	Đại học Hàng hải và Đại dương Hàn Quốc – Korea Maritime and Ocean University – Busan</span>
                    <span class="d-block line-20 ml-70">81.	Đại học Quốc gia Mokpo – Mokpo</span>
                    <span class="d-block line-20 ml-70">82.	Đại học Quốc gia Hanbat – Daejeon</span>
                    <span class="d-block line-20 ml-70">83.	Đại học Dongshin – Naju</span>
                    <span class="d-block line-20 ml-70">84.	Đại học CHA – Pocheon</span>
                    <span class="d-block line-20 ml-70">85.	Đại học Hansung</span>
                    <span class="d-block line-20 ml-70">86.	Đại học quốc gia Sunchon</span>
                    <span class="d-block line-20 ml-70">87.	Đại học nữ sinh Duksung</span>
                    <span class="d-block line-20 ml-70">88.	Đại học Seowon – Cheongju</span>
                    <span class="d-block line-20 ml-70">89.	Trường Đại học Hanseo – Seosan</span>
                    <span class="d-block line-20 ml-70">90.	Đại học Sahmyook – Seoul</span>
                    <span class="d-block line-20 ml-70">91.	Đại học Kyungil – Gyeongsan</span>
                    <span class="d-block line-20 ml-70">92.	Đại học Nghệ thuật Quốc gia Seoul – Seoul</span>
                    <span class="d-block line-20 ml-70">93.	 Đại học quốc gia Andong – Andong</span>
                    <span class="d-block line-20 ml-70">94.	Đại học Kangnam (đại học tư thục) – Yongin</span>
                    <span class="d-block line-20 ml-70">95.	Đại học kỹ thuật Hàn Quốc – Siheung</span>
                    <span class="d-block line-20 ml-70">96.	Đại học Semyung – Jecheon</span>
                    <span class="d-block line-20 ml-70">97.	Đại học Gwangju – Gwangju</span>
                    <span class="d-block line-20 ml-70">98.	Đại học Giáo dục quốc gia Hàn Quốc – Cheongju</span>
                    <span class="d-block line-20 ml-70">99.	Đại học Daejin(đại học tư thục) – Pocheon</span>
                    <span class="d-block line-20 ml-70">100.	Đại học Dongyang – Punggi</span>
                    <span class="d-block line-20 ml-70">Đại học quốc gia Pusan  – Busan</span>
                    <span class="d-block line-20 ml-70">•	Đại học Ngoại ngữ Hàn Quốc – Seoul</span>
                    <span class="d-block line-20 ml-70">•	Đại học Quốc gia Chonbuk  (Jeollabuk)</span>
                    <span class="d-block line-20 ml-70">•	Đại học Seoul Sirip – Seoul</span>
                    <span class="d-block line-20 ml-70">•	Đại học Bách khoa Hàn Quốc – Siheung</span>
                    <span class="d-block line-20 ml-70">•	Đại học Giáo dục Quốc gia Hàn Quốc – Cheongju</span>
                    <span class="d-block line-20 ml-70">•	Đại học Công nghệ và Giáo dục Hàn Quốc – Cheonan</span>
                    <span class="d-block line-20 ml-70">•	Đại học Khoa học và Công nghệ Hàn Quốc – Daejeon</span>
                </div>
            </div>
        </div>
        <div class="right-high-school mt-3">
            <div class="card-progame-study">
                <div class="title-card-progame">Chương trình của KIPA</div>
                <div class="card-pro"> <a class="link-action" href="/tieng-han-doanh-nghiep">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.Enterprise</a></div>
                <div class="card-pro">  <a class="link-action" href="/e9-ve-nuoc">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.E9</a></div>
                <div class="card-pro">  <a class="link-action" href="/du-hoc-cap-3">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.C3</a></div>
                <div class="card-pro"><a class="link-action" href="/du-hoc-thac-sy">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.Mater</a></div>
                <div class="card-pro"><a class="link-action" href="/du-hoc-dai-hoc">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.University</a></div>
            </div>
            <div class="card-progame-study mt-3">
                <div class="title-card-progame">Visa Hàn Quốc</div>
                <div class="card-pro">  <a class="link-action" href="/visa-d4">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png"> @Resources.SharedResource.VisaD4</a></div>
                <div class="card-pro">  <a class="link-action" href="/visa-d10">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaD10</a></div>
                <div class="card-pro"> <a class="link-action" href="/visa-D2">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaD2</a></div>
                <div class="card-pro"> <a class="link-action" href="/visa-e7">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaE7</a></div>
            </div>
        </div>
    </div>
</div>