
@{
    ViewBag.Title = "Học tiếng hàn miễn phí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Module.Data.DataAccess.AppTinTuc

<link href="~/Theme-FrontEnd/assets/css/header.css" rel="stylesheet" />

<div class="header-detail" data-aos="fade-up">
    <span class="title-header-detail animated slideInDown" style="animation-delay: 1s">@Resources.SharedResource.TitleHeader</span>
    <span class="des-header-detail animated fadeInUp" style="animation-delay: 2s">@Resources.SharedResource.DesHeader</span>
</div>

<div class="study-abroad-high-school row" data-aos="fade-up">
    <div class="left-high-school">
        @{
            Html.RenderAction("_MainLeft", "Home");
        }
    </div>
    <div class="center-high-school ">
        <div class="Introduce-progame">
            <div class="Introduce-progame ">
                <span class="title-page d-block">@Resources.SharedResource.LearnFree1</span>
            </div>
            <span class="d-block">@Resources.SharedResource.LearnFree2</span>
            <span class="d-block line-20 pt-3 f-600">LINK ĐĂNG KÝ</span>
            <span class="span-link-signin"><a target="_blank" href="https://forms.gle/BHArAnxdywpdYqyo9">https://forms.gle/BHArAnxdywpdYqyo9</a></span>
            <img class=" img-page-child img-page-child-learn-free d-block pt-3" src="~/Theme-FrontEnd/assets/Content/free1.jpg">
            <span class="d-block pt-5 mt-3">
                <span class="f-600 ml-4 ">  ● @Resources.SharedResource.LearnFree3 :</span>
                @Resources.SharedResource.LearnFree4.
            </span>
            <span class="d-block ml-4"><span class="f-600"> ● @Resources.SharedResource.LearnFree5  : </span>@Resources.SharedResource.LearnFree6</span>
            <span class="d-block ml-4"><span>● @Resources.SharedResource.LearnFree7 :</span>@Resources.SharedResource.LearnFree8, @Resources.SharedResource.LearnFree9 (@Resources.SharedResource.LearnFree10)</span>
            <span class="d-block  ml-4"> <span class="f-600">● @Resources.SharedResource.LearnFree11: </span>Online và Offline (@Resources.SharedResource.LearnFree12 - @Resources.SharedResource.LearnFree13)</span>
            <span class="d-block  ml-4"> <span class="f-600">● @Resources.SharedResource.LearnFree14:</span> khu đô thị Geleximco An Khánh- Hoài Đức- Hà Nội</span>
            <span class="d-block  ml-4"> ● Số 56 Điện Biên Phủ - P. Thống Nhất – Tp. Buôn Ma Thuột – Đak Lak</span>
            <span class="d-block  ml-4"> <span class="f-600">● @Resources.SharedResource.LearnFree15 :</span>@Resources.SharedResource.LearnFree16</span>
            <span class="d-block ml-4"> <span class="f-600">● @Resources.SharedResource.LearnFree17: </span>@Resources.SharedResource.LearnFree18</span>
            <span class="d-block ml-4"> <span class="f-600">● @Resources.SharedResource.LearnFree19: </span>@Resources.SharedResource.LearnFree20 </span>
            <span class="d-block ml-4"> <span class="f-600">● @Resources.SharedResource.LearnFree21 :</span>100k vnd, <span class="f-600">● @Resources.SharedResource.LearnFree22:</span> 400kvnd(@Resources.SharedResource.LearnFree23) </span>

            <span class="d-block pt-3">
                @Resources.SharedResource.LearnFree24

            </span>
            <span class="f-600 span-link-signin">@Resources.SharedResource.LearnFree25</span>
            <span class="d-block line-20 pt-3 f-600"> LINK ĐĂNG KÝ</span>
            <span class="span-link-signin"><a target="_blank" href="https://forms.gle/BHArAnxdywpdYqyo9">https://forms.gle/BHArAnxdywpdYqyo9</a></span>
        </div>
    </div>
    <div class="right-high-school mt-3">
        <div class="card-progame-study">
            <div class="title-card-progame">Chương trình của KIPA</div>
            <div class="card-pro"> <a class="link-action" href="/tieng-han-doanh-nghiep">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.Enterprise</a></div>
            <div class="card-pro">  <a class="link-action" href="/e9-ve-nuoc">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.E9</a></div>
            <div class="card-pro">  <a class="link-action" href="/du-hoc-cap-3">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.C3</a></div>
            <div class="card-pro"><a class="link-action" href="/du-hoc-thac-sy">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.Mater</a></div>
            <div class="card-pro"><a class="link-action" href="/du-hoc-dai-hoc">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.University</a></div>
        </div>
        <div class="card-progame-study mt-3">
            <div class="title-card-progame">Visa Hàn Quốc</div>
            <div class="card-pro">  <a class="link-action" href="/visa-d4">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png"> @Resources.SharedResource.VisaD4</a></div>
            <div class="card-pro">  <a class="link-action" href="/visa-d10">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaD10</a></div>
            <div class="card-pro"> <a class="link-action" href="/visa-D2">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaD2</a></div>
            <div class="card-pro"> <a class="link-action" href="/visa-e7">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaE7</a></div>
        </div>
    </div>

</div>


