
@{
    ViewBag.Title = "Du học đại học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Theme-FrontEnd/assets/css/header.css" rel="stylesheet" />
<div class="header-detail" data-aos="fade-up">
    <span class="title-header-detail animated slideInDown" style="animation-delay: 1s">@Resources.SharedResource.TitleHeader</span>
    <span class="des-header-detail animated fadeInUp" style="animation-delay: 2s">@Resources.SharedResource.DesHeader</span>
</div>
<div class="study-abroad-high-school row" data-aos="fade-up">
    <div class="left-high-school col-3">
        <div class="card-content-letter" id="card-content-letter">
            <div class="title-left-link f-600">Nội dung công việc</div>
            <ul class="pt-3 style-type-none">
                <li><a href="#section1" class="a-link-page d-block">1. @Resources.SharedResource.UniversityTitle1 ?</a></li>
                <li><a href="#section2" class="a-link-page d-block">2. @Resources.SharedResource.UniversityTitle2</a></li>
                <li><a href="#section3" class="a-link-page d-block">3. @Resources.SharedResource.UniversityTitle3</a></li>
                <li><a href="#section4" class="a-link-page d-block">4. @Resources.SharedResource.UniversityTitle4</a></li>
                <li><a href="#section5" class="a-link-page d-block">5. @Resources.SharedResource.UniversityTitle5</a></li>
                <li><a href="#section6" class="a-link-page d-block">6. @Resources.SharedResource.UniversityTitle6?</a></li>
                <li><a href="#section7" class="a-link-page d-block">7. @Resources.SharedResource.UniversityTitle7</a></li>
            </ul>
        </div>
    </div>
    <div class="center-high-school col-7">
        <div class="Introduce-progame ">
            <span class="title-page d-block">@Resources.SharedResource.UniversityHeaderTitle </span>
            <div class="line-20 pt-3 reson-study">
                <span class="d-block ml-4">
                    @Resources.SharedResource.UniversityHeaderTitleSubject1
                </span>
                <span class="d-block">
                    <span class="ml-4">@Resources.SharedResource.UniversityHeaderTitleSubject2_1 </span> @Resources.SharedResource.UniversityHeaderTitleSubject2_2
                </span>
                <span class="d-block">
                    <span class="ml-4">@Resources.SharedResource.UniversityHeaderTitleSubject3_1  </span>@Resources.SharedResource.UniversityHeaderTitleSubject3_2
                </span>
                <span class="d-block ml-4">@Resources.SharedResource.UniversityHeaderTitleSubject4</span>
                <div class="option-reson ml-4 f-600">
                    <span class="f-600">@Resources.SharedResource.UniversityHeaderTitleSubject5:</span>
                    <span class="d-block ml-50 line-20">• @Resources.SharedResource.UniversityHeaderTitleSubject5_1</span>
                    <span class="d-block ml-50 line-20">• @Resources.SharedResource.UniversityHeaderTitleSubject5_2</span>
                    <span class="d-block ml-50 line-20">• @Resources.SharedResource.UniversityHeaderTitleSubject5_3</span>
                    <span class="d-block ml-50 line-20">• @Resources.SharedResource.UniversityHeaderTitleSubject5_4</span>
                    <span class="d-block ml-50 line-20">@Resources.SharedResource.UniversityHeaderTitleSubject5_5</span>
                </div>
            </div>
            <span>
                <span class="ml-4">@Resources.SharedResource.UniversityHeaderTitleSubject6_1 </span>@Resources.SharedResource.UniversityHeaderTitleSubject6_2
            </span>
            <span class="d-block">
                <span class="ml-4">@Resources.SharedResource.UniversityHeaderTitleSubject7_1 </span>@Resources.SharedResource.UniversityHeaderTitleSubject7_2
            </span>
        </div>
        <div id="section1">
            <div class="line-20 pt-3 order-number-title f-600">1. @Resources.SharedResource.UniversityTitle1 ?</div>
            <div class="content-section">
                <span>
                    <span class="ml-4">@Resources.SharedResource.UniversityTitle1Subject1_1 </span>
                    @Resources.SharedResource.UniversityTitle1Subject1_2
                </span>
                <img class="img-page d-block pt-3" src="~/Theme-FrontEnd/assets/Content/visaD4.jpg">
                <span class="d-block span-des-image pt-4">@Resources.SharedResource.UniversityTitle1Subject1Image</span>
                <span>
                    <span class="ml-4">@Resources.SharedResource.UniversityTitle1Subject2_1 </span>
                    @Resources.SharedResource.UniversityTitle1Subject2_2
                </span>
                <span>
                    <span class="ml-4">@Resources.SharedResource.UniversityTitle1Subject3_1 </span>
                    @Resources.SharedResource.UniversityTitle1Subject3_2
                </span>
            </div>
        </div>
        <div id="section2">
            <div class="line-20 pt-3 order-number-title f-600">2. @Resources.SharedResource.UniversityTitle2</div>
            <div class="content-section">
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle2Subject1.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject2.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject3.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject4.</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle2Subject5.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject6.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject7.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject8.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject9.</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle2Subject10.</span>
            </div>
        </div>
        <div id="section3">
            <div class="line-20 pt-3 order-number-title f-600">3. @Resources.SharedResource.UniversityTitle3</div>
            <div class="content-section">
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle3Subject1</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle3Subject2</span>
                <span class="d-block line-20 ml-50 ">• @Resources.SharedResource.UniversityTitle3Subject3</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject4</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject5</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject6</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject7</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject8</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject9</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject10</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject11</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject12</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject13</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject14</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject15</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject16</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject17</span>
                <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle3Subject18</span>
            </div>
        </div>
        <div id="section4">
            <div class="line-20 pt-3 order-number-title f-600">4. @Resources.SharedResource.UniversityTitle4</div>
            <div class="content-section">
                <span class="d-block line-20 f-600 ml-50 pt-4">@Resources.SharedResource.UniversityTitle4_1</span>
                <span class="d-block line-20 ml-70">
                    @Resources.SharedResource.UniversityTitle4_1Subject
                </span>

                <span class="d-block line-20 f-600 ml-50 pt-4">@Resources.SharedResource.UniversityTitle4_2</span>
                <span class="d-block line-20 ml-70">
                    @Resources.SharedResource.UniversityTitle4_2Subject
                </span>
                <span class="d-block line-20 f-600 ml-50 pt-4">@Resources.SharedResource.UniversityTitle4_3</span>
                <span class="d-block line-20 ml-70">
                    @Resources.SharedResource.UniversityTitle4_3Subject
                </span>
                <span class="d-block line-20 f-600 ml-50 pt-4">@Resources.SharedResource.UniversityTitle4_4</span>
                <span class="d-block line-20 ml-70">
                    @Resources.SharedResource.UniversityTitle4_4Subject
                </span>
                <span class="d-block line-20 f-600 ml-50 pt-4">@Resources.SharedResource.UniversityTitle4_5</span>
                <span class="d-block line-20 ml-70">
                    @Resources.SharedResource.UniversityTitle4_5Subject1
                </span>
                <span class="d-block line-20 ml-70">
                    @Resources.SharedResource.UniversityTitle4_5Subject2
                </span>
            </div>
        </div>
        <div id="section5">
            <div class="line-20 pt-3 order-number-title f-600">5. @Resources.SharedResource.UniversityTitle5 </div>
            <div class="content-section">
                <span class="d-block line-20">
                    @Resources.SharedResource.UniversityTitle5Subject1
                </span>
                <span class="d-block line-20 ml-50"><span class="f-600">• @Resources.SharedResource.UniversityTitle5Subject2_1:</span> <span>@Resources.SharedResource.UniversityTitle5Subject2_2.</span></span>
                <span class="d-block line-20 ml-50"><span class="f-600">• @Resources.SharedResource.UniversityTitle5Subject3_1: </span><span>@Resources.SharedResource.UniversityTitle5Subject3_2. </span></span>
            </div>
        </div>
        <div id="section6">
            <div class="line-20 pt-3 order-number-title f-600">6. @Resources.SharedResource.UniversityTitle6?</div>
            <div class="content-section">
                <span class="title-child-page pt-4"> @Resources.SharedResource.UniversityTitle6_1</span>
                <div>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_1Subject1. </span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_1Subject2</span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_1Subject3</span>
                </div>
                <span class="title-child-page pt-4"> @Resources.SharedResource.UniversityTitle6_2</span>
                <div>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_2Subject1. </span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_2Subject2.</span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_2Subject3</span>
                </div>

                <span class="title-child-page pt-4">@Resources.SharedResource.UniversityTitle6_3</span>
                <div>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_3Subject1</span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_3Subject1</span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_3Subject1</span>
                </div>
                <span class="title-child-page pt-4"> @Resources.SharedResource.UniversityTitle6_4</span>
                <div>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_4Subject1</span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_4Subject1</span>
                    <span class="d-block line-20 ml-50">• @Resources.SharedResource.UniversityTitle6_4Subject1</span>
                </div>
                <span class="title-child-page pt-4">
                    @Resources.SharedResource.UniversityTitle6_5
                </span>
                <span class="title-child-page f-600 pt-4">
                    @Resources.SharedResource.UniversityTitle6__6
                </span>
            </div>
        </div>
        <div id="section7">
            <div class="line-20 pt-3 order-number-title f-600">7. @Resources.SharedResource.UniversityTitle7</div>
            <div class="content-section">
            </div>
        </div>
    </div>
    <div class="right-high-school col-2 mt-3">
        <div class="card-progame-study">
            <div class="title-card-progame">Chương trình của KIPA</div>
            <div class="card-pro"> <a class="link-action" href="/tieng-han-doanh-nghiep">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.Enterprise</a></div>
            <div class="card-pro">  <a class="link-action" href="/e9-ve-nuoc">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.E9</a></div>
            <div class="card-pro">  <a class="link-action" href="/du-hoc-cap-3">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.C3</a></div>
            <div class="card-pro"><a class="link-action" href="/du-hoc-thac-sy">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.Mater</a></div>
            <div class="card-pro"><a class="link-action" href="/du-hoc-dai-hoc">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.University</a></div>
        </div>
        <div class="card-progame-study mt-3">
            <div class="title-card-progame">Visa Hàn Quốc</div>
            <div class="card-pro">  <a class="link-action" href="/visa-d4">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png"> @Resources.SharedResource.VisaD4</a></div>
            <div class="card-pro">  <a class="link-action" href="/visa-d10">  <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaD10</a></div>
            <div class="card-pro"> <a class="link-action" href="/visa-D2">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaD2</a></div>
            <div class="card-pro"> <a class="link-action" href="/visa-e7">   <img class="img-vector" src="~/Theme-FrontEnd/assets/Content/vector.png">@Resources.SharedResource.VisaE7</a></div>
        </div>
    </div>
</div>
<script>
    document.getElementById('card-content-letter').addEventListener('click', function (e) {
        e.preventDefault(); // Prevent default link behavior

        if (e.target.tagName === 'A') {
            var targetId = e.target.getAttribute('href').substring(1); // Get the ID of the target content section
            var targetElement = document.getElementById(targetId); // Find the target content section
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll to the target content section smoothly
            }
        }
    });

</script>

